<div class="container">
  <div class="form-group">
    <label>タイトル</label>
    <input type="text" class="form-control" value="<%= @recipe.title %>" disabled>
    <label>キャッチコピー</label>
    <textarea class="form-control" disabled><%= @recipe.description %></textarea>
  </div>
  <div class="step-form">
    <form>
      <div id="description-fields">
        <h4>工程</h4>
        <% @recipe.steps.each do |step| %>
          <div class="step-description-field">
            <div class="form-group">
              <textarea name="step[description]" class="form-control step-description-value" disabled><%= step.description %></textarea>
            </div>
          </div>
        <% end %>
        <div class="step-description-field">
          <div class="form-group">
            <textarea name="step[description]" class="form-control step-description-value active"></textarea>
          </div>
        </div>
      </div>
      <div class="button-area">
        <div class="flex-button">
          <button id="submit" class="btn btn-primary" disabled>工程を追加</button>
        </div>
        <div class="flex-button">
          <%= link_to "公開", recipe_publish_path(@recipe), method: :post, class: "btn btn-primary"%>
        </div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(".active").on('keyup paste', function(e) {
    const value = e.target.value;
    if(value.length > 0) {
      $("#submit").prop("disabled", false)
    } else {
      $("#submit").prop("disabled", true)
    }
  });
  $('#submit').on('click', function(e) {
    e.preventDefault();
    const description = $(".step-description-value").eq(-1).val();
    $.post("<%== recipe_steps_path(@recipe) %>", 'step[description]='+description)
      .done( function(data) {
        const field = $(".step-description-field").eq(-1).clone();

        $(".step-description-value").eq(-1).prop("disabled", true);
        $(".active").off('keyup paste')
        $(".step-description-value").eq(-1).removeClass("active");

        field.find(".step-description-value").val("");
        $("#description-fields").append(field);

        field.on('keyup paste', function(e) {
          const value = e.target.value;
          if(value.length > 0) {
            $("#submit").prop("disabled", false)
          } else {
            $("#submit").prop("disabled", true)
          }
        });

        $("#submit").prop("disabled", true)
      })
      .fail( function(err) { console.log(err) } )
  });
</script>
